<div class="main-container">
  <div class="header-menu ele-flex-between">
    <div style="cursor:pointer;" onclick="location.href='/'">
      SORI
    </div>
    <div style="cursor:pointer;">
      MENU
    </div>
  </div>
  <div id="map"></div>
</div>
